* {
    padding: 0;
    margin: 0;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 300 to 800 */
  
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

.main {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-basis: 15%;
    border-right: 2px solid #E8EBE4;
}

.selected-user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E8EBE4;
    height: 4em;
}

.selected-user-img {
    height: 2em;
    border-radius: 15px;
}

.selected-user-name {
    font-size: 14px;
    margin-left: 10px;
    margin-top: -5px;
    color: #1B1F21;
}

.selected-user-status {
    font-size: 10px;
    color: #BEC1BB;
    margin-left: 10px;
    margin-top: -5px;
}

.message-icon {
    margin-left: 4em;
    color: #BEC1BB;
}

.bars-icon {
    margin-left: 1em;
    color: #BEC1BB;
}

.nuevo-chat {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #E8EBE4;
    height: 6em;
}

button {
    background-color: #A491D2;
    border: none;
    padding: 12px 4em;
    color: white;
    font-size: 16px;
    border-radius: 2px;
}

button:hover {
    background-color: #CDC3E6;
    cursor: pointer;
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 2px solid #E8EBE4;
    height: 4em;
}

.user-name {
    font-size: 14px;
    margin-top: -6px;
    color: #1B1F21;
    margin-left: 1em;
}

.user-status {
    font-size: 12px;
    color: #828485;
    margin-left: 1em;
}

.user-img {
    height: 42px;
    border-radius: 25px;
    margin-left: 2em;
}

.networking {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #F8F8F8;
}

.networking-img {
    height: 18em;
}

.networking-title {
    margin-top: 12px;
    font-size: 3em;
    color: #1B1F21;
}

.networking-text {
    color: #1B1F21;
    font-size: 16px;
    text-align: center;
}